.somecolor {
  color: #c8c4c1;
}

.morphing-text {
  position: relative;
  height: 4rem; /* Adjust height as needed */
  overflow: hidden;
}
.text {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1.5s ease-in-out, filter 1.5s ease-in-out;
}
.text.visible {
  opacity: 1;
}
.orangee {
  color: #e37128;
}
body {
  font-family: "Outfit", sans-serif;
}
.hover-saturation {
  filter: saturate(80%);
}
.decrease-saturation {
  filter: saturate(10%);
}
.w-heightt {
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  bottom: 1rem;
}

.image-box {
  filter: saturate(15%);
  transition: transform 0.3s;
}

.image-box:hover {
  transform: scale(1.05);
  filter: saturate(80%);
}
.status-dot {
  width: 10px; /* Dot width */
  height: 10px; /* Dot height */
  background-color: green; /* Dot color */
  border-radius: 50%; /* Make it circular */
  margin-right: 8px; /* Space between dot and text */
}
.item1 {
  /* Span 2 columns */
  grid-row: span 8; /* Span 2 rows */
}
.item2 {
  grid-column: span 2; /* Span 2 columns */
  grid-row: span 8; /* Span 2 rows */
}
.card-bg {
  background-color: #fbfbfb;
}
